<div class="wrapper">

  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <sidebar-cmp></sidebar-cmp>
  </div>

  <div class="main-panel">
      <navbar-cmp></navbar-cmp>

      <div class="content">
        <ng-container *ngIf="flights$ | async as flights; else loading">
          <div *ngFor="let flight of flights">
            Von: {{flight.from}} Nach: {{flight.to}}
          </div>
        </ng-container>
        <ng-template #loading>
          Loading...
        </ng-template>
      </div>
  </div>

</div>
