<div class="wrapper">

  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <sidebar-cmp></sidebar-cmp>
  </div>

  <div class="main-panel">
      <navbar-cmp></navbar-cmp>

      <div class="content">
        <p>Flüge suchen</p>
        <form class="form-group" [formGroup]="formGroup"
              (submit)="onSubmit()">
          <input class="form-control" formControlName="von"
                 placeholder="Abflug von">
          <br>
          <button type="submit" class="btn">Suchen</button>
        </form>
        <pre>{{flights | json}}</pre>
      </div>
  </div>

</div>
